# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Dataset
dataset/images/
dataset/labels/

# Training outputs
runs/

# Test images
test_images/

# Model files
*.pt

# Cache
.cache/